@font-face {
    font-family: MontserratReg;
    src: url(media/fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
    font-family: MontserratMedium;
    src: url(media/fonts/MontserratAlternates-Medium.ttf);
}

@font-face {
    font-family: MontserratSemiBold;
    src: url(media/fonts/MontserratAlternates-SemiBold.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(media/fonts/MontserratAlternates-Bold.ttf);
}

:root {
    --green: #1F623C;
    --yellow: #FFBB00;
}

body {
    font-family: MontserratReg;
}

a {
    text-decoration: none;
}

.navbar-brand {
    width: 350px;
    height: 80px;
}

.modal-content {
    background-color: var(--green);
    color: white;
}

.nav-link {
    margin-bottom: 5px;
    /* Отступ между ссылками */
    font-family: MontserratSemiBold;
    font-size: 30px;
    transition: 300ms;
    color: rgb(255, 255, 255, 0.6);
}

.nav-link:hover {
    color: #fff;
}

.modal-header,
.modal-footer {
    border: none;
    background-color: var(--green);
}

.modal-header img {
    width: 665px;
    height: 150px;
}

.modal-body h4 {
    font-family: MontserratBold;
    font-size: 40px;
    text-decoration: none;
    margin-bottom: 50px;
}

.col-md-3 a {
    margin-bottom: 10px;
    text-decoration: none;
}

.btn-close {
    color: white;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menu-text {
    margin-right: 10px;
    font-family: MontserratBold;
    font-size: 20px;
}

.menu-icon span {
    display: block;
    width: 25px;
    /* Ширина каждой линии */
    height: 3px;
    /* Высота каждой линии */
    background-color: black;
    /* Цвет линий */
    margin: 2px 0;
    /* Расстояние между линиями */
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
}

.dropdown button {
    font-family: MontserratBold;
    font-size: 20px;
}

.butn {
    width: 30px;
    background-color: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 80px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-family: MontserratBold;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
}

.dropdown-toggle {
    background-color: transparent;
    color: black;
    border: none;
    box-shadow: none;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover,
.dropdown-toggle:active {
    background-color: transparent;
    /* Прозрачный фон при наведении, фокусе или активации */
    box-shadow: none;
    /* Убрать тень при наведении, фокусе или активации */
    color: black;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: black;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    background-color: rgb(255, 255, 255, 0.4);
    transition: background-color 0.5s ease;
}

.dropdown-item:hover {
    color: var(--yellow);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.photo-container {
    position: relative;
    width: 100%;
    height: 435px;
    overflow: hidden;
}

.photo-containerLong {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.photo-containerLong img {
    height: 700px;
    width: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Обеспечивает покрытие всего контейнера */
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.text {
    font-family: MontserratBold;
    color: white;
    font-size: 60px;
    max-width: 1300px;
}

.overlayUnits {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.textUnits {
    font-family: MontserratBold;
    color: white;
    font-size: 55px;
    max-width: 1300px;
}

.textUnitsSmall {
    font-family: MontserratSemiBold;
    color: white;
    font-size: 36px;
    max-width: 1300px;
}

.txt-default {
    display: block;
}

.txt {
    display: none;
}

.detailed {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .modal-header img {
        width: 230px;
        height: 50px;
    }

    .modal-body h4 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .nav-link {
        font-size: 20px;
    }
}

.numbersHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.card {
    position: relative;
    border: 3px solid var(--yellow);
    border-radius: 20px;
    /* width: 442px; */
    height: 167px;
    overflow: hidden;
    background-color: #ffffff;
    /* Задний фон для удобства */
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.icon {
    position: absolute;
    left: 33px;
    bottom: 18px;
    transition: left 0.5s ease;
    height: 65px;
    width: auto;
    z-index: 1000;
}

.iconLong {
    position: absolute;
    left: 33px;
    bottom: 18px;
    transition: left 0.5s ease;
    height: 65px;
    width: auto;
    z-index: 1000;
}

.card:hover .icon {
    left: 330px;
    /* Конечное положение иконки справа */
}

.card:hover .iconLong {
    left: 230px;
    /* Конечное положение иконки справа */
}

.card-state {
    position: absolute;
    height: 100%;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.card-state-1 {
    flex-grow: 1;
    /* Растягиваем на всю ширину кроме иконки */
    margin-top: -45px;
    margin-right: 20px;
    margin-left: 175px;
    background-color: #ffffff;
    /* Фон первого состояния */
    color: var(--green);
    opacity: 1;
    justify-content: flex-start;
}

.card-state-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--green);
    color: white;
    opacity: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    transition: opacity 0.3s ease;
}

.state-2 a {
    color: #fff;
}

.state-2 a:hover {
    color: var(--green);
}

.card:hover .card-state-2 {
    opacity: 1;
}

.card:hover .card-state-1 {
    opacity: 0;
}

@media (min-width: 992px) {
    .container {
        max-width: 1420px;
    }
}

.numbers {
    margin-top: 50px;
}

.visitors {
    margin-top: 70px;
}

h2 {
    font-family: MontserratBold;
    font-size: 40px;
    color: var(--green);
}

h3 {
    font-family: MontserratBold;
    font-size: 35px;
}

h4 {
    font-family: MontserratBold;
    font-size: 26px;
}

.kraevText {
    font-size: 20px;
}

.products {
    margin-top: 70px;
    margin-bottom: 30px;
}

.productsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.productsHeader p {
    width: 897px;
    font-family: MontserratBold;
}

.productCard {
    position: relative;
    width: 335px;
    height: 350px;
    border-radius: 21px;
    overflow: hidden;
    background: var(--green);
    color: white;
    margin: 7px;
    transition: opacity 0.5s ease;

}

.productCard .state-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s ease-in-out;
    opacity: 0;
    padding: 25px 35px;
}

.productCard .state-1 {
    opacity: 1;
}

.productCard:hover .state-1 {
    opacity: 0;
    background: linear-gradient(180deg, rgba(31, 98, 60, 0) 0%, #1f623c 100%);

}

.productCard:hover .state-2 {
    opacity: 1;
}

.productCard img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.productCard p {
    text-align: left;
    width: 100%;
}

.productCardLong {
    position: relative;
    width: 700px;
    height: 350px;
    border-radius: 21px;
    overflow: hidden;
    background: var(--green);
    color: white;
    margin: 7px;
    transition: opacity 0.5s ease;

}

.productCardLong .state-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s ease-in-out;
    opacity: 0;
    padding: 25px 35px;
}

.productCardLong .state-1 {
    opacity: 1;
}

.productCardLong:hover .state-1 {
    opacity: 0;
    background: linear-gradient(180deg, rgba(31, 98, 60, 0) 0%, #1f623c 100%);

}

.productCardLong:hover .state-2 {
    opacity: 1;
}

.productCardLong img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.productCardLong p {
    text-align: left;
    width: 100%;
}

.state-1 p {
    position: absolute;
    margin-top: 300px;
    z-index: 99999;
    text-align: center;
}

.btn {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 20px;
    width: 265px;
    height: 42px;
    transition: 300ms;
}

.btn:hover {
    background: var(--yellow);
    color: var(--green);
    border: none;
}

.productCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.moreDetails,
.moreDetails svg {
    color: var(--green);
    stroke: var(--green);
    fill: var(--green);
    text-decoration: none;
    font-size: 20px;
    transition: 300ms;
}

svg path {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
}

.moreDetails:hover,
.moreDetails:hover svg {
    color: var(--yellow);
    stroke: var(--yellow);
    fill: var(--yellow);
}


.footer {
    height: 355px;
    /* Указываем фиксированную высоту */
}

.footer img {
    margin-bottom: 15px;
    /* Отступ для логотипа */
}

.footer p {
    margin-bottom: 5px;
    /* Меньший отступ для параграфов */
}

.adress {
    color: #fff;
    text-decoration: none;
    transition: 300ms;
}

.adress:hover {
    color: var(--yellow);
}

.unitsCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.unitCard-1,
.unitCard-2,
.unitCard-3,
.unitCard-4 {
    width: 340px;
    height: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.unitCard-1 {
    background: linear-gradient(0deg, rgba(31, 98, 60, 0.9) 0%, rgba(31, 98, 60, 0) 70%), url("media/ЮграТрансСервис.png");
    background-size: cover;
}

.unitCard-2 {
    background: linear-gradient(0deg, rgba(31, 98, 60, 0.9) 0%, rgba(31, 98, 60, 0) 70%), url("media/лесопильныеЗаводыЮгры.png");
    background-size: cover;
}

.unitCard-3 {
    background: linear-gradient(0deg, rgba(31, 98, 60, 0.9) 0%, rgba(31, 98, 60, 0) 70%), url("media/ЛВЛЮгра.png");
    background-size: cover;
}

.unitCard-4 {
    background: linear-gradient(0deg, rgba(31, 98, 60, 0.9) 0%, rgba(31, 98, 60, 0) 70%), url("media/ЮграПлит.png");
    background-size: cover;
}

.unitCard-1 p,
.unitCard-2 p,
.unitCard-3 p,
.unitCard-4 p {
    color: white;
    font-size: 26px;
    font-family: MontserratBold;
    text-align: center;
}

u {
    font-size: 28px;
}

.info {
    margin-top: 50px;
}

.sostav {
    font-size: 28px;
}

.unitImg {
    width: 500px;
    height: 500px;
}






/* для карты */
.wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
}

.wrapperBig {
    position: relative;
    width: 100%;
    height: 760px;
    overflow: hidden;
    margin-bottom: 30px;
}

.wrapperSmall {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
}

.contactCard {
    position: absolute;
    top: 0;
    width: 645px;
    height: 400px;
    padding-left: 30px;
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.contactCardBig {
    position: absolute;
    top: 0;
    width: 645px;
    height: 760px;
    padding-left: 30px;
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.contactCardSmall {
    position: absolute;
    top: 0;
    width: 645px;
    height: 200px;
    padding-left: 30px;
    border-radius: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.contactCardYel {
    background-color: var(--yellow);
}

.contactCardGre {
    padding-top: 15px;
    color: #fff;
    background-color: var(--green);
}

.mapCard {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.location,
.phone,
.email,
.fax {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.location p,
.phone p,
.email p,
.fax p {
    margin-bottom: 5px;
    padding-left: 15px;
    font-size: 30px;
    font-family: MontserratMedium;
    line-height: 1.1;
}

.locationName,
.phoneName,
.emailName,
.faxName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.locationInfo,
.phoneInfo,
.emailInfo,
.faxInfo {
    margin-left: 50px;
    font-size: 24px;
}

/* окончание карты */

.blockYe {
    width: 15px;
    height: 50px;
    background-color: var(--yellow);
}

.colorTextYe {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 350px;
}

.colorTextYe p {
    margin-left: 20px;
    margin-bottom: 0;
    font-family: MontserratBold;
    font-size: 40px;
    color: var(--yellow);
}

.blockGr {
    width: 15px;
    height: 50px;
    background-color: var(--green);
}

.colorTextGr {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.colorTextGr p {
    margin-left: 20px;
    margin-bottom: 0;
    font-family: MontserratBold;
    font-size: 40px;
    color: var(--green);
}

.backButton {
    position: absolute;
    top: 120px;
    height: 40px;
    width: 250px;
    border: 3px solid #fff;
    border-radius: 20px;
    color: #fff;
    background: none;
    transition: 300ms;
}

.backButton:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: #000;
}

.backButton a {
    color: inherit;
    text-decoration: none;
}

.backButton svg {
    fill: currentColor;
    margin-right: 35px;
}

.product {
    display: flex;
}

.baseSelector {
    border: 5px solid var(--green);
    border-radius: 45px;
    height: 90px;
    width: 100%;
    font-size: 24px;
    color: var(--green);
    text-align: center;
    background: url(media/icons/downArrow.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: calc(100% - 50px);
    margin-bottom: 40px;
}

.baseSelector:focus {
    outline: none;
}

.custom-table tbody th,
.custom-table tbody td {
    border-color: var(--green);
}

.custom-table tbody td {
    text-align: right;
}

.custom-table th,
.custom-table td {
    border-width: 2px !important;
}

.custom-table tbody tr:last-child th,
.custom-table tbody tr:last-child td {
    border-bottom: 2px solid #343a40;
}

.custom-table th,
.custom-table td {
    border-left: none;
    border-right: none;
}

.education p,
li {
    margin-top: 20px;
    font-size: 20px;
}

.educationCenter {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.openButton {
    border: 2px solid var(--green);
    border-radius: 20px;
    color: var(--green);
    background-color: #fff;
    width: 300px;
    height: 50px;
    transition: 300ms;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 20px;
}

.openButton:hover {
    background-color: var(--yellow);
    border: none;
}

.anket {
    background-color: #fff;
    color: #333333;
    border-radius: 30px;
}

.custom-modal {
    max-width: 1200px;
    height: 845px;
}

.custom-modal .modal-content {
    height: 60%;
}

.form-control {
    border: none;
    border-bottom: 3px solid var(--green);
    box-shadow: none;
    outline: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 3px solid var(--green);
}

.sendButton {
    border: 2px solid var(--green);
    border-radius: 20px;
    width: 250px;
    height: 40px;
    background-color: #fff;
}

input::-webkit-file-upload-button {
    position: absolute;
    border: 2px solid var(--green);
    border-radius: 20px;
    width: 250px;
    height: 40px;
    background-color: #fff;
    transition: 300ms ease-out;
    cursor: pointer;
    color: var(--green);
}

input::-webkit-file-upload-button:hover {
    background-color: var(--yellow);
    border: none;
}

.select-vacancies {
    border: 2px solid var(--green);
    border-radius: 45px;
    width: 1000px;
    height: 50px;
    font-weight: 400;
    font-size: 25px;
    line-height: 88%;
    color: var(--green);
    flex-grow: 1;
    text-align: center;
}

.year2024,
.year2023,
.year2022,
.year2021,
.year2020,
.year2019,
.year2018,
.year2017,
.year2016,
.year2015,
.docsOkazStrahImu,
.docsCredit,
.kreditLine5live {
    display: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

.select-info {
    border: 3px solid var(--green);
    border-radius: 40px;
    width: 600px; 
    height: 80px;
    max-height: 200px; 
    background: #fff;
    font-weight: 400;
    font-size: 20px;
    color: var(--green);
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px; 
    box-sizing: border-box;
}

.file {
    width: 600px;
    display: flex;
    align-items: center;
    color: #000;
}

.file::before {
    content: url(media/icons/pdf.png);
    display: flex;
    width: 70px;
    height: 70px;
    margin-right: 40px;
}

.izveshchenie1,
.izveshchenie2,
.izveshchenie3,
.izveshchenie4,
.izveshchenie5,
.izveshchenie6,
.izveshchenie7,
.izveshchenie8,
.izveshchenie9,
.izveshchenie10,
.izveshchenie11,
.izveshchenie12,
.izveshchenie13,
.izveshchenie14,
.izveshchenie15,
.izveshchenie16,
.izveshchenie17,
.izveshchenie18,
.izveshchenie19,
.izveshchenie20 {
    display: none;
}

ol {
    list-style: none;
    counter-reset: li;
}

li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}















/* Vlad css */

.H1 {
    font-weight: 700;
    padding-top: 50px;
}

.text-container {
    font-size: 24px;
    padding-top: 30px;
}

.H2 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px;
}

.cards {
    padding-top: 20px;
    gap: 100px;
    justify-content: center;
}

.card_4 {
    justify-content: center;
    padding-top: 120px;
}

.plita_text {
    color: #000;
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.zcp_text {
    font-size: 24px;
    line-height: normal;
    width: 340px;
    padding-top: 30px;
    }

.H2_eco {
    text-align: center;
    font-weight: 600;
    line-height: normal;
}

.cards_eco {
    padding-top: 20px;
    gap: 250px;
}

.column-custom {
    max-width: 436px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.column-custom img {
    max-width: 100px;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

h3 {
    color: #004d40; 
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    line-height: 1.6;
}

.card_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header,
.modal-footer {
    border: none;
    background-color: var(--green);
}


.moreDetails:hover,
.moreDetails:hover svg {
    color: var(--yellow);
    stroke: var(--yellow);
    fill: var(--yellow);
}


.footer {
    height: 355px;
}

.footer img {
    margin-bottom: 15px;
}

.footer p {
    margin-bottom: 5px;
}

.adress {
    color: #fff;
    text-decoration: none;
    transition: 300ms;
}

.adress:hover {
    color: var(--yellow);
}

.under_H1 {
    font-size: 24px;
    font-weight: 600;
}

.cards_2 {
    display: flex;
    flex-direction: column; 
    align-items: center;

    margin-bottom: 120px;
}

.H1_2 {
    color: var(--green);
    text-align: center;
    font-weight: 700;
}

.under_H1_2 {
    color: rgba(0, 0, 0, 0.60);
    font-weight: 700;
    line-height: normal;
}

.under_H1_2 {
    display: flex;
    align-items: end;
}

.cards_2-3 {
    gap: 110px;
}
.card_1_1 {
    margin-top: 170px;

    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}

.card_1_1:hover {
    border: 10px solid var(--yellow);
}

.card_1_2 {
    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}
.card_1_2:hover {
    border: 10px solid var(--yellow);
}

.card_1_3 {
    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}
.card_1_3:hover {
    border: 10px solid var(--yellow);
}

.card_1_4 {
    margin-top: 120px;
    margin-bottom: 50px;

    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}
.card_1_4:hover {
    border: 10px solid var(--yellow);
}

.modal-lg {
    max-width: 2121px;
}

.modal-content {
    height: 905px;
}

.modal-body {
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: 0px;
}

.image-container {
    width: 800px;
    height: 903px;

    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.text-container {
    flex: 1;
    padding: 20px;
    gap: 50px;
}

.text-container p {
    margin-top: 0;
}

.H2-card1 {
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 50px;
}

.button_close {
    border-radius: 20px;
    border: 2px solid var(--yellow);
    width: 250px;
    height: 40px;
    transition: 300ms;

    color: var(--yellow);
    font-family: "Montserrat Alternates";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: inherit;
}
.button_close:hover {
    border: 2px solid var(--yellow);
}

.modal-lg {
    max-width: 1800px;
}
.modal-content {
    height: 902px;
    border: none;
}
.modal-body {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.text-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.text-container h5 {
    font-size: 36px;
}
.text-container p {
    margin-top: 0;
    opacity: 0.7;
}
.text-container ul {
    margin-top: 0;
    padding-left: 20px;
    list-style-type: none;
}
.text-container ul li {
    margin-bottom: 50px;
}
.text-container ul li:last-child {
    margin-bottom: 0;
}
.text-container ul li span {
    opacity: 0.7;
}
.awards-list li {
    position: relative;
    padding-left: 25px;
}
.awards-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 0;
    height: 0;
    border-left: 10px solid var(--green);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.H1_news {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    margin: 0px;
    width: 800px;
    height: 100px;
}

.custom-card {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--yellow);
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    width: 1375px;
    height: 370px;
    margin-bottom: 20px;
}

.custom-card img {
    width: 373px;
    height: 370px;
    height: 100%;
    object-fit: cover;
}

.custom-card-content {
    padding: 20px;
    flex-grow: 1;
}

.custom-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}

.custom-card-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.custom-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.custom-card-footer a {
    color: var(--green);
    text-decoration: none;
    transition: 300ms;
}
.custom-card-footer a:hover {
    color: var(--yellow);
}

.row-card {
    display: flex;
    justify-content: space-between;
}
.small-card {
    border: 2px solid var(--green);
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    margin: 10px;
    flex-grow: 1;
    transition: 300ms;
}
.small-card:hover {
    border: 2px solid var(--yellow);
}

.small-card img {
    width: 340px;
    height: 273px;
    object-fit: cover;
}
.small-card-content {
    padding: 10px;
}
.small-card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}
.small-card-footer {
    text-align: right;
    font-size: 0.8rem;
    color: #666;
}

.chart-container {
    width: 200px;
    margin: 20px;
}
.chart {
    display: flex;
    align-items: flex-end;
    height: 200px;
    position: relative;
    border-left: 2px solid var(--yellow);
    border-bottom: 2px solid var(--yellow);
}
.chart-bar {
    width: 30%;
    margin: 0 5px;
    background-color: var(--green);
    text-align: center;
    color: white;
    font-size: 0.8em;
    position: relative;
}
.chart-title {
    text-align: center;
    font-size: 1.2em;
}
.bar-70 {
    height: 70%;
}
.bar-20 {
    height: 20%;
}
.bar-10 {
    height: 10%;
}
.percentage-label {
    position: absolute;
    left: -40px;
    font-size: 0.8em;
    color: black;
}
.percentage-line {
    position: absolute;
    left: -8px;
    width: 8px;
    height: 2px;
    background-color: var(--yellow);
}
.percentage-70 {
    bottom: 70%;
}
.percentage-20 {
    bottom: 20%;
}
.percentage-10 {
    bottom: 10%;
}
.label-container {
    display: flex;
    justify-content: space-between;
}
.label {
    width: 30%;
    text-align: center;
    margin-top: 5px;
}


h3 {
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.p_news {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

strong {
    color: var(--green);
    font-family: "Montserrat Alternates";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h3_news {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

a {
    color: var(--green);
    text-decoration: none;
    transition: 300ms;
}
a:hover {
    color: var(--yellow);
}

.main-content {
    min-height: 1005px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.description {
    background-color: #f8f9fa;
}

.description h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.custom-dropdown {
    width: 100%;
    max-width: 1420px;
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 50px;
    text-align: center;
}

.custom-options {
    border-radius: 50px;
    padding: 0;
    margin-top: 5px;
    width: 100%;
    max-width: 1420px;
    text-align: center;
    box-shadow: none;
}


.custom-options .dropdown-item:first-child {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.custom-options .dropdown-item:last-child {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.decor-item {
    position: relative;
    background-color: #ccc;
    color: white;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
}

.decor-title {
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #293133;
}

.decor-title-black {
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #F5F5F5;
}

.decor-code {
    font-size: 16px;
    color: #FFFFFF;
}

.decor-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
}

.p_ldsp {
    font-size: 24px;
}

.h2_ldsp {
    font-size: 40px;
    font-weight: 700;
}

.H1_ldsp {
    font-size: 74px;
}



@media (max-width: 992px) {

    .navbar-brand img {
        height: 60px;
        width: 200px;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txt-default {
        display: none;
    }

    .txt {
        display: block;
    }

    .productsHeader p {
        display: none;
    }

    h2 {
        font-size: 24px;
    }

    .text {
        font-size: 30px;
    }

    .moreDetails {
        font-size: 15px;
    }

    .icon {
        position: absolute;
        left: 33px;
        bottom: 18px;
        transition: left 0.5s ease;
        height: 65px;
        width: auto;
        z-index: 1000;
    }

    .iconLong {
        position: absolute;
        left: 33px;
        bottom: 18px;
        transition: left 0.5s ease;
        height: 65px;
        width: auto;
        z-index: 1000;
    }

    .card:hover .icon {
        left: 300px;
        /* Конечное положение иконки справа */
    }

    .card:hover .iconLong {
        left: 180px;
        /* Конечное положение иконки справа */
    }

    .card-state-1 {
        font-size: 12px;
    }

    .card-state-2 {
        font-size: 14px;
    }

    .textUnits {
        font-size: 30px;
    }

    .textUnitsSmall {
        font-size: 20px;
    }

    .sostav {
        font-size: 16px;
    }

    u {
        font-size: 16px;
    }

    .unitImg {
        display: none;
    }

    .location p,
    .phone p,
    .email p,
    .fax p {
        margin-bottom: 5px;
        padding-left: 15px;
        font-size: 15px;
        font-family: MontserratMedium;
        line-height: 1.1;
    }

    .locationInfo,
    .phoneInfo,
    .emailInfo,
    .faxInfo {
        margin-left: 35px;
        font-size: 12px;
    }

    .locationName img,
    .phoneName img,
    .emailName img,
    .faxName img {
        width: 20px;
        height: 20px;
    }

    .contactCard {
        width: 385px;
        height: 230px;
    }

    .contactCardBig {
        width: 385px;
        height: 400px;
    }

    .contactCardSmall {
        width: 385px;
        height: 130px;
    }

    .wrapper {
        height: 230px;
    }

    .wrapperBig {
        height: 400px;
    }

    .wrapperSmall {
        height: 130px;
    }

    .mapCard {
        display: none;
    }

    .product {
        display: flex;
        flex-wrap: wrap;
    }

    .baseSelector {
        height: 50px;
        border: 2px solid var(--green);
        font-size: 15px;
        background-size: 25px 15px;
    }

    .select-info {
        border: 3px solid var(--green);
        border-radius: 40px;
        width: 350px;
        height: 50px;
        background: #fff;
        font-weight: 400;
        font-size: 16px;
        color: var(--green);
        margin-bottom: 20px;
        flex-grow: 1;
        text-align: center;
    }

    .file {
        width: 350px;
        display: flex;
        align-items: center;
        color: #000;
    }

    .file::before {
        content: url(media/icons/pdf.png);
        display: flex;
        width: 40px;
        height: 40px;
        margin-right: 40px;
        margin-bottom: 50px;
    }














    .H1 {
        font-size: 24px;
        padding-top: 20px;
    }

    .text-container {
        font-size: 18px;
        padding-top: 15px;
    }

    .H2 {
        font-size: 22px;
        padding-top: 15px;
    }

    .cards {
        flex-direction: column;
        gap: 50px;
    }

    .cards_eco {
        gap: 100px;
    }

    .footer {
        height: auto;
        padding: 20px;
    }

    .card_1_1, .card_1_2, .card_1_3, .card_1_4 {
        width: 100%;
        height: auto;
    }

    .custom-card {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .custom-card img {
        width: 100%;
        height: auto;
    }

    .small-card {
        width: 100%;
        height: auto;
    }

    .image-container {
        width: 100%;
        height: auto;
    }

    .text-container {
        padding: 10px;
        gap: 20px;
    }

    .H1_news {
        font-size: 24px;
        width: 100%;
        height: auto;
    }

    .small-card {
        width: 95%;
        height: auto;
    }

    .small-card img {
        width: 100%;
        object-fit: cover;
    }

    .row-card {
        flex-direction: column;
        align-items: center;
    }

    .zcp_text {
        font-size: 20px;
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }

    .H2_eco {
        font-size: 22px;
    }

    .cards_eco {
        gap: 20px;
        padding-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .card_header {
        align-items: center;
        text-align: center;
    }
    
    .card_header img {
        margin-bottom: 10px;
        max-width: 100%;
        height: auto;
    }

    .cards_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .cards_2-3 {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .card_1_1,
    .card_1_2,
    .card_1_3,
    .card_1_4 {
        width: 100%;
        max-width: 400px;
        height: 250px;
        margin: 20px 0;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .modal-lg {
        max-width: 100%;
    }

    .modal-content {
        height: auto;
        padding: 20px;
    }

    .modal-body {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .image-container {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .text-container {
        padding: 10px;
        gap: 20px;
    }

    .H2-card1 {
        font-size: 24px;
        margin-top: 20px;
    }

    .button_close {
        width: 100%;
        height: 40px;
        font-size: 18px;
        margin-top: 20px;
    }

    .text-container h5 {
        font-size: 28px;
    }

    .text-container ul li {
        margin-bottom: 30px;
    }

    .footer {
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .footer img {
        width: 80%;
        max-width: 200px;
        margin-bottom: 15px;
    }

    .footer p {
        margin-bottom: 10px;
    }

    .adress {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .decor-item {
        padding: 15px;
        height: 200px;
    }

    .decor-title, .decor-title-black {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .decor-code {
        font-size: 14px;
    }

    .p_ldsp {
        font-size: 20px;
    }

    .h2_ldsp {
        font-size: 32px;
    }

    .H1_ldsp {
        font-size: 40px;
    }
}