@font-face {
    font-family: MontserratReg;
    src: url(media/fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
    font-family: MontserratMedium;
    src: url(media/fonts/MontserratAlternates-Medium.ttf);
}

@font-face {
    font-family: MontserratSemiBold;
    src: url(media/fonts/MontserratAlternates-SemiBold.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(media/fonts/MontserratAlternates-Bold.ttf);
}

:root {
    --green: #1F623C;
    --yellow: #FFBB00;
}

body {
    font-family: MontserratReg;
}

a {
    text-decoration: none;
}

body {
    font-family: MontserratReg;
}

.container {
    max-width: 1420px;
}

.header {
    display: flex;
    width: 1920px;
    height: 100px;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

.logo {
    width: 347px;
    height: 77px;
}

.H1 {
    font-weight: 700;
    padding-top: 50px;
}

.text-container {
    font-size: 24px;
    padding-top: 30px;
}

.H2 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px;
}

.cards {
    padding-top: 20px;
    gap: 100px;
    justify-content: center;
}

.card_4 {
    justify-content: center;
    padding-top: 120px;
}

.plita_text {
    color: #000;
    text-align: center;
    font-family: "Montserrat Alternates";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.zcp_text {
    font-size: 24px;
    line-height: normal;
    width: 270px;
    padding-top: 30px;
    }

.H2_eco {
    text-align: center;
    font-weight: 600;
    line-height: normal;
}

.cards_eco {
    padding-top: 20px;
    gap: 250px;
}

.card_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header,
.modal-footer {
    border: none;
    background-color: var(--green);
}


.moreDetails:hover,
.moreDetails:hover svg {
    color: var(--yellow);
    stroke: var(--yellow);
    fill: var(--yellow);
}


.footer {
    height: 355px;
    /* Указываем фиксированную высоту */
}

.footer img {
    margin-bottom: 15px;
    /* Отступ для логотипа */
}

.footer p {
    margin-bottom: 5px;
    /* Меньший отступ для параграфов */
}

.adress {
    color: #fff;
    text-decoration: none;
    transition: 300ms;
}

.adress:hover {
    color: var(--yellow);
}

.under_H1 {
    font-size: 24px;
    font-weight: 600;
}

.cards_2 {
    display: flex;
    flex-direction: column; 
    align-items: center;

    margin-bottom: 120px;
}

.H1_2 {
    color: var(--green);
    text-align: center;
    font-weight: 700;
}

.under_H1_2 {
    color: rgba(0, 0, 0, 0.60);
    font-weight: 700;
    line-height: normal;
}

.under_H1_2 {
    display: flex;
    align-items: end;
}

.cards_2-3 {
    gap: 110px;
}
.card_1_1 {
    margin-top: 170px;

    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}

.card_1_1:hover {
    border: 10px solid var(--yellow);
}

.card_1_2 {
    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}
.card_1_2:hover {
    border: 10px solid var(--yellow);
}

.card_1_3 {
    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}
.card_1_3:hover {
    border: 10px solid var(--yellow);
}

.card_1_4 {
    margin-top: 120px;
    margin-bottom: 50px;

    width: 645px;
    height: 315px;
    border-radius: 30px;
    border: 10px solid var(--green);
    transition: 300ms;
}
.card_1_4:hover {
    border: 10px solid var(--yellow);
}

.modal-lg {
    max-width: 2121px;
}

.modal-content {
    height: 905px;
}

.modal-body {
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: 0px;
}

.image-container {
    width: 800px;
    height: 903px;

    background-color: #006400; /* Зелёный цвет для фона */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Отступы внутри контейнера */
}
.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.text-container {
    flex: 1;
    padding: 20px;
    gap: 50px;
}

.text-container p {
    margin-top: 0; /* Убираем отступ сверху */
}

.H2-card1 {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.button_close {
    border-radius: 20px;
    border: 2px solid var(--green);
    width: 250px;
    height: 40px;
    transition: 300ms;

    color: var(--green);
    font-family: "Montserrat Alternates";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: inherit;
}
.button_close:hover {
    border: 2px solid var(--yellow);
}

.modal-lg {
    max-width: 1800px;
}
.modal-content {
    height: 902px;
    border: none;
}
.modal-body {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.text-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.text-container h5 {
    font-size: 36px;
}
.text-container p {
    margin-top: 0;
    opacity: 0.7;
}
.text-container ul {
    margin-top: 0;
    padding-left: 20px;
    list-style-type: none;
}
.text-container ul li {
    margin-bottom: 50px;
}
.text-container ul li:last-child {
    margin-bottom: 0;
}
.text-container ul li span {
    opacity: 0.7;
}
.awards-list li {
    position: relative;
    padding-left: 25px; /* Отступ для треугольника */
}
.awards-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 0;
    height: 0;
    border-left: 10px solid var(--green); /* Зеленый треугольник */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.H1_news {
    font-size: 32px;
    font-weight: 700;
    line-height: 30px; /* 93.75% */
    margin: 0px;
    width: 800px;
    height: 100px;
}

.custom-card {
    display: flex;
    flex-direction: row;
    border: 2px solid #28a745;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    width: 1375px; /* Увеличенная ширина для основной новости */
    height: 370px; /* Установка высоты для основной новости */
    margin-bottom: 20px;
}

.custom-card img {
    width: 373px;
    height: 370px;
    height: 100%;
    object-fit: cover;
}

.custom-card-content {
    padding: 20px;
    flex-grow: 1;
}

.custom-card-title {
    font-size: 1.5rem; /* Увеличенный размер шрифта заголовка */
    font-weight: bold;
    margin-top: 0;
}

.custom-card-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.custom-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.custom-card-footer a {
    color: var(--green);
    text-decoration: none;
    transition: 300ms;
}
.custom-card-footer a:hover {
    color: var(--yellow);
}

.row-card {
    display: flex;
    justify-content: space-between;
}
.small-card {
    border: 2px solid var(--green);
    border-radius: 20px;
    overflow: hidden;
    width: 345px;
    height: 400px; /* Установка высоты 450px */
    margin: 10px;
    flex-grow: 1;
}
.small-card img {
    width: 345px;
    height: 273px; /* Установка высоты изображения внутри карточки */
    object-fit: cover;
}
.small-card-content {
    padding: 10px;
}
.small-card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}
.small-card-footer {
    text-align: right;
    font-size: 0.8rem;
    color: #666;
}